# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env

# Node
node_modules/
.nuxt/
.output/

# Logs
*.log

# SQLite
*.db

# Model artifacts
backend/app/models/*.pkl

# OS
.DS_Store

# Laporan & Agent
agent.md
Laporan_Proyek_Katalis.md
